@use "sass:math";
@use "@tabler/core/scss/tabler";

:root {
    /* Replace the color value with your desired hue */
    --tblr-primary: hsl(192, 98%, 35%);
    --tblr-gutter-x: calc(var(--tblr-page-padding) * 2);
    --text-lighter: 
}

.navbar[data-bs-theme=dark] {
    color-scheme: dark;
    --tblr-bg-surface: var(--tblr-primary);
    --tblr-navbar-border-color: transparent;
}

body {
    font-family: 'Nunito', sans-serif;
    position: relative;
    #app,
    .page {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.form-control:focus, .form-control:active {
    box-shadow: none;
    border-color: var(--tblr-primary)
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    border-color: transparent;
}